@import "colors/everforest-medium.css";

* {
  all: unset;
  font-family: "Iosevka Nerd Font Propo", monospace;
}

window#waybar {
  background-color: transparent;
  color: @fg;
  border-radius: 0 0 20px 10px;
}

.modules-left,
.modules-right,
.modules-center {
  color: @fg;
  margin: 5px 12px 0px 12px;
  padding: 0 20px;
  background-color: alpha(@bg0, 0.75);
  border-radius: 20px;
}

/* Modules styling */
#workspaces {
  min-width: 100px;
  padding: 0px 4px;
  margin: 11px 0;
  border-radius: 99px;
}

#workspaces button {
  background-color: @bg3;
  color: @fg;
  padding: 0px 5px;
  border-radius: 99px;
  margin: 0 2px;
  min-width: 4px;
  opacity: 1.0;
}

#workspaces button.active {
  background-color: @bg5;
  transition: background-color 0.3s ease-in-out;
}

#cava {
  margin: 0 12px;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

#cpu {
  letter-spacing: 1px;
}

#network {
  padding: 0 10px;
}

tooltip {
  background-color: alpha(@bg0, 0.9);
  border-radius: 10px;
  padding: 5px 10px;
}

